.header {
    padding: 0 24px;

    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

.main {
    min-height: calc(100vh - 64px - 65px); // 100vh就是整个屏幕的高度，64px是header的高度，71px是footer的高度
}

.footer {
    text-align:center;
    background-color: #f7f7f7;
    border-top: 1px solid #e8e8e8;
}