.container {
    padding: 24px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.left {
    width: 120px
}

.right {
    flex:1;
    margin-left: 60px;
}

.createAI {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* 内容水平居中 */
}